<h2>My Heroes</h2>
{{hero1}}
<input [(ngModel)]="hero1" placeholder="name"/>
<br/>
{{hero.name}}
<input [(ngModel)]="hero.name" placeholder="name"/>
{{hero}}
<ul>
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">{{hero.name}}</li>
</ul>  
<div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
  </div>

</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes2"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

 <app-hero-detail [hero]="selectedHero"></app-hero-detail>
